@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

:root {
	box-sizing: border-box;
	font-family: "Work Sans", sans-serif;

	--White: hsl(0, 0%, 100%);
	--LightPink: hsl(275, 100%, 97%);
	--GrayishPurple: hsl(292, 16%, 49%);
	--DarkPurple: hsl(292, 42%, 14%);

	--fs-paragraphs: 1em;
}
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
body {
	background-color: var(--LightPink);
  font-size: var(--fs-paragraphs);
}
img {
  max-width: 100%;
}
button {
  background-color: transparent;
  border: 0;
}
section + section {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  
}


